<h3>x! = x * (x-1) * (x-2).... * 2</h3>

<div class="form-inline">
  <div class="form-group">
    <input class="form-control" id="num" placeholder="Factorial">
  </div>
  <div class="form-group">
    <button class="btn btn-success" id="fact"">Generate Factorial</button>
  </div>
</div>

<div id="output"></div>

<button style="float: right"><a href="/">Back to main menu</a></button>