<a href="/pythag/"><button type="button" class="btn btn-success">Pythagorean calculator</button></a>
<a href="/factorial/"><button type="button" class="btn btn-success">Factorial calculator</button></a>
<a href="/quadform/"><button type="button" class="btn btn-success">Quadratic Formula calculator</button></a>

