<html>
    <head>
      <title>JavaScript Calculators</title>
      <link rel="stylesheet" href="../public/css/main.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link type="image/icon" rel="shortcut icon" href="../public/js_icon.png">

      <style>
          body {
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(50%, rgba(241, 111, 92, 1)), color-stop(71%, rgba(246, 11, 12, 1)), color-stop(90%, rgba(240, 47, 23, 1)), color-stop(100%, rgba(231, 56, 39, 1)));
              text-align: center;
          }

          #output {
              font-size: 50px;
          }
      </style>
    </head>

    <body>

        <h1>JavaScript Calculators</h1>

        <%= yield %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>