<div class="form-inline">
  <div class="form-group">
  <input class="form-control" id="side1" placeholder="Leg 1">
</div>
<div class="form-group">
  <input class="form-control" id="side2" placeholder="Leg 2">
</div>
<div class="form-group">
  <button class="btn btn-success" id="pythag">Generate Hypotenuse</button>
</div>
  </div>
<div id="output">Hypotenuse:</div>

<button style="float: right"><a href="/">Back to main menu</a></button>