<h3>Ax<sup>2</sup> + Bx + C = 0</h3>
<div class="form-inline">
  <div class="form-group">
    <input class="form-control text_input center" id="a" placeholder="A">
  </div>
  <div class="form-group">
    <input class="form-control text_input center" id="b" placeholder="B">
  </div>
  <div class="form-group">
    <input class="form-control text_input center" id="c" placeholder="C">
  </div>
  <div class="form-group">
    <button class="btn btn-success" id="zeros">Generate Zeros</button>
  </div>
</div>

<div id="output"></div>

<button style="float: right"><a href="/">Back to main menu</a></button>